# vim-sensible is at path 01-vim-sensible so that it loads before most plugins.
[submodule "start/vim-sensible"]
	path = start/01-vim-sensible
	url = https://github.com/tpope/vim-sensible
	branch = master

[submodule "start/dockerfile.vim"]
	path = start/dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
	branch = master
[submodule "start/fzf.vim"]
	path = start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	branch = master
[submodule "start/jenkinsfile-vim-syntax"]
	path = start/jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax
	branch = master
[submodule "start/loupe"]
	path = start/loupe
	url = https://github.com/wincent/loupe
	branch = master
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/scrooloose/nerdtree
	branch = master
[submodule "start/tabular"]
	path = start/tabular
	url = https://github.com/godlygeek/tabular
	branch = master
[submodule "start/taglist.vim"]
	path = start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
	branch = master
	ignore = untracked
[submodule "start/vim-abolish"]
	path = start/vim-abolish
	url = https://github.com/tpope/vim-abolish
	branch = master
[submodule "start/vim-characterize"]
	path = start/vim-characterize
	url = https://github.com/tpope/vim-characterize
	branch = master
[submodule "start/vim-colors-solarized"]
	path = start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
	branch = master
[submodule "start/vim-commentary"]
	path = start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	branch = master
[submodule "start/vim-fugitive"]
	path = start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule "start/vim-go"]
	path = start/vim-go
	url = https://github.com/fatih/vim-go
	branch = master
[submodule "start/vim-instant-markdown"]
	path = start/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
	branch = master
[submodule "start/vim-prettier"]
	path = start/vim-prettier
	url = https://github.com/prettier/vim-prettier
	branch = master
[submodule "start/vim-repeat"]
	path = start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "start/vim-toml"]
	path = start/vim-toml
	url = https://github.com/cespare/vim-toml
	branch = master
